* {
  padding: 0;
  margin: 0;
}

body {
  background-color: darkslategrey;
}

.freeshipping {
  background-color: #d8bf95;
  height: 29px;
  width: 1440px;
  text-align: center;
  padding-top: 11px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.menu {
  background-color: #f1f1f1;
  height: 88px;
  width: 1440px;
  display: flex;
  align-items: center;
}

.login_language_zero {
  display: flex;
  margin-right: 36px;
  /* justify-content: space-between; */
  /* width: 206px; */
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 20%;
  justify-content: flex-end;
}

.fr-en {
  display: flex;
  width: 45px;
  justify-content: space-between;
  margin-left: 27px;
  margin-right: 71px;
}

.fr {
  color: #c4c4c4;
}

.count {
  padding-top: 2px;
  font-size: 12px;
}

.shop {
  margin-left: 30px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 20%;
  /* width: 206px; */
}

.collections {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  /* width: 300px; */
  width: 20%;
  padding-left: 32px;
}

.about_us {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 20%;
  display: flex;
  justify-content: center;
}

.MYEL {
  /* width: 140px; */
  width: 20%;
  display: flex;
  justify-content: center;
}

.banner {
    display: flex;
}

.alltextblock {
    width: 1440px;
    height: 541px;
    background-color:#F1F1F1;
    display: flex;
    /* flex-direction: column; в колонка*/
    /* flex-direction: row; в ряд*/

}

.combined {

}

.responsible {
    font-size: 64px;
    font-family: "Roboto", sans-serif;
    font-weight: 400; 
    width: 892px;
    /* height: 256px; */
    margin-top: 116px;
    margin-left: 64px;
}

.Spontaneous {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;  
    width: 815px;
    height: 25px; 
    margin-top: 31px;
    margin-left: 64px;
}

.shopMYEL {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;  
    flex-grow: 1;/* Элемент занимает все не занятое пространство. */
    text-align: right;
    /* margin-right: 64px; */
    padding-right: 64px;
    padding-top: 125px;
}